@{
    ViewData["Title"] = "Principal";
}

<div class="text-center">
    <img src="https://codigo35.com/wp-content/uploads/2023/09/pngegg.png" width="15%" />
    <h1 class="display-4">Desenvolvimento Web com .NET e Bases de Dados</h1>
    <p>Nessa disciplina aprofundamos nossos conhecimentos dos fundamentos de desenvolvimento .NET criando uma aplicação Web utilizando frameworks, algo muito mais próximo do que existe no mercado, o que foi muito interessante para dar uma boa ideia de como é o dia a dia de um programador empregado de fato.
        O framework utilizado foi o EntityFramework, também aprendemos a usar Identity.
    </p>
    <p>
        Sobre as aulas em si, eu gosto bastante do ritmo do professor Ricardo Frohlich, pois ele é sempre bem humorado e possuí uma boa didática, uma coisa que fez com que eu preferisse muito a disciplina de C# em comparação a de Java foi a de que o professor sempre estava disposto a explicar as coisas em pequenos blocos,
        ou seja, criava projetos diferentes cada um focado em um tópico da matéria, e quando isso não era possível ele recriou o mesmo projeto umas 3 vezes para fixar o processo nos alunos, isso fez total diferença na compreensão já que era mais fácil de acompanhar o que estava sendo apresentado.
    </p>
</div>

<h2>Sugestões de melhoria</h2>
<ul>
    <li>Slides explicando parte da teoria, ajuda a fixar a teoria com algo mais limpo e visual em aula com a participação do professor.</li>
    <li>Relacionar mais o material teórico com as aulas, abordando de forma mais ampla e conectando de forma mais explícita ao que é feito em aula.</li>
    <li>Não pedir coisas ainda não explicadas no TP ou AT, isso fez com que existisse uma barreira até poder completar o final do AT.</li>
    <li>Acabou, não sei o que mais pode melhorar, honestamente gostei bastante da disciplina, apesar de ter sofrido para entregar esse trabalho.</li>
</ul>

<h2>Apresentação do Projeto do AT</h2>
<ul>
    <p>Esse projeto seguiu tudo que foi pedido na descrição do AT, só não possui o mesmo nome (só percebi quando havia terminado todo o código). Existem três classes: Funcionário, Registro e Departamento. Apenas duas foram pedidas no AT, Registro foi um brinde para apresentar a execução de uma relação 1 para 1 dentro do exercício
        sendo necessária para o cadastro de um registro do tipo Funcionário. A classe departamento e Funcionário possuem uma relação de 1 para N, em que é necessário selecionar o departamento no cadastro de um registro do tipo Funcionário. Para acessar os dados e os alterar é necessário ter um registro, ou seja, um login.
    </p>
</ul>
